html {
  font-family: sans-serif;
}

body {
  background: #FFD4D4; 
}

.container{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.form input[type="number"] {
  width: 200px;
  border: 1px solid #F48484;
  border-radius: 10px;
  padding: 5px 10px;
}

.form input[type="submit"] {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 20px;
  background-color:#F48484;
  cursor: pointer;
}

.lastResult {
  color: white;
  padding: 3px;
}